{% extends "journal.html" %}
{% load adminmedia %}
{% load my_filters %}

{% block title %}Редактирование захоронения{% endblock %}

{% block title_h2 %}Редактирование захоронения{% endblock %}

{% block buttons %}
        {% if user|in_group:"edit_bur_in_adm" %}
            {{ form.in_trash.label_tag }}{{ form.in_trash }}
        {% endif %}
        <br />
        <a href="{% url add_burial %}?place={{ burial.product.place.pk }}" target="_blank">Добавить родственное</a>
        <a href="{% url print_burial burial.pk %}" target="_blank">Документы</a>
        <br />
        <input type="submit" value="Сохранить"  tabindex="22">
        <button type="reset" onclick="top.location.href='{{ request.path }}';" tabindex="23">Отмена</button>
    <a href="/journal/">Назад</a>
{% endblock %}
