{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}
{% block title %}Просмотр журнала{% endblock %}
{% block scripts %}
{{ form.media }}
<link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" />
<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>
<script type="text/javascript" charset="utf-8">
//Первоначальное заполнение списка услуг.
$(function(){
    $("#id_burial_date").focus(function(){
     this.select();
 }

         );


    $.getJSON("/getoper/",{id: $("#id_cemetery").val(), ajax: 'true'}, function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        if (j[i].optionValue == $("#id_hoperation").val())
        {
            options += '<option selected value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
        }
        else
        {
            options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
        }
      }
      $("#id_operation").html(options);
    });
    });
$(function(){
//   $("#id_country").change(function(){
//            $("#id_region").val("");
//            $("#id_city").val("");
//            $("#id_street").val("");
//        });
//   $("#id_region").change(function(){
//            $("#id_city").val("");
//            $("#id_street").val("");
//        });
//   $("#id_city").change(function(){
//            $("#id_street").val("");
//        });
  // Обработчик изменения выбранной услуги.
  $("#id_operation").change(function(){
    $("#id_hoperation").val($("#id_operation").val());
  });
  // Обработчик изменения выбранного кладбища.
  $("#id_cemetery").change(function(){
    $.getJSON("/getoper/",{id: $(this).val(), ajax: 'true'}, function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        if (j[i].optionValue == $("#id_hoperation").val())
        {
            options += '<option selected value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
//            $("#id_hoperation").val(j[i].optionValue);
//            s = 1;
        }
        else
        {
            options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
        }
//        if (s == 0)
//          {
//            options = '<option value="0">----------------</option>' + options;
//          }
      }
      $("#id_operation").html(options);
      $("#id_area").val("");
      $("#id_row").val("");
      $("#id_seat").val("");
    });
  });

   //автодополнение страны.
   $("#id_country").autocomplete({
        source: "/getcountries/",
        minLength: 1,
        delay: 100,
    });

   //автодополнение региона.
   $("#id_region").autocomplete({
        source: "/getregions/",
        minLength: 2,
        delay: 100,
        select: function(event, ui) {
            $("#id_region").val(ui.item.value.split("/")[0]);
            $("#id_country").val(ui.item.value.split("/")[1]);
            return false;
       },
       focus: function(event, ui) {
            $("#id_region").val(ui.item.value.split("/")[0]);
//            $("#id_country").val(ui.item.value.split("/")[1]);
            return false;
       }
   });
   //автодополнение нас. пункта.
   $("#id_city").autocomplete({
        source: "/getcities/",
        minLength: 2,
        delay: 100,
        select: function(event, ui) {
            $("#id_city").val(ui.item.value.split("/")[0]);
            $("#id_region").val(ui.item.value.split("/")[1]);
            $("#id_country").val(ui.item.value.split("/")[2]);
            return false;
       },
       focus: function(event, ui) {
            $("#id_city").val(ui.item.value.split("/")[0]);
//            $("#id_region").val(ui.item.value.split("/")[1]);
//            $("#id_country").val(ui.item.value.split("/")[2]);
            return false;
       }

    });
   //автодополнение улицы.
   $("#id_street").autocomplete({
        source: "/getstreets/",
        minLength: 2,
        delay: 100,
        select: function(event, ui) {
            $("#id_street").val(ui.item.value.split("/")[0]);
            $("#id_city").val(ui.item.value.split("/")[1]);
            $("#id_region").val(ui.item.value.split("/")[2]);
            $("#id_country").val(ui.item.value.split("/")[3]);
            return false;
       },
       focus: function(event, ui) {
            $("#id_street").val(ui.item.value.split("/")[0]);
//            $("#id_city").val(ui.item.value.split("/")[1]);
//            $("#id_region").val(ui.item.value.split("/")[2]);
//            $("#id_country").val(ui.item.value.split("/")[3]);
            return false;
       }

    });
})
</script>
{%  endblock %}
{% block content %}
    <div id="free_form">
    <form action="" method="post" enctype="multipart/form-data">
        <table width="800">
             <tr>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/burial/{{ burial.uuid }}/" target="_blank" tabindex="1">Номер в книге учета</a>
                    {% else %}
                        Номер в книге учета
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    Дата захоронения
                </td>

                <td width="33%">&nbsp;</td>
            </tr>
             <tr>
                <td width="33%">{{ burial.account_book_n }}</td>
                <td width="33%">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.burial_date }}
                    {% else %}
                        {{ burial.date_fact|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td width="33%">&nbsp;</td>
            </tr>
            <tr>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/person/{{ burial.person.uuid }}/" target="_blank" tabindex="3">Фамилия</a>
                    {% else %}
                        Фамилия
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/person/{{ burial.person.uuid }}/" target="_blank" tabindex="4">Имя</a>
                    {% else %}
                        Имя
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/person/{{ burial.person.uuid }}/" target="_blank" tabindex="5">Отчество</a>
                    {% else %}
                        Отчество
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="33%" id="free_form">{{ burial.person.last_name }}</td>
                <td width="33%" id="free_form">{{ burial.person.first_name }}</td>
                <td width="33%" id="free_form">{{ burial.person.patronymic }}</td>
            </tr>
             <tr>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.cemetery }}
                    {% else %}
                        {{ burial.product.place.cemetery.name }}
                    {%  endif %}

                </td>
                <td width="33%" id="free_form">

                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.operation }}{{ form.hoperation }}
                    {% else %}
                        {{ burial.operation.op_type }}
                    {%  endif %}
                </td>
                <td width="33%">&nbsp;</td>
            </tr>
             <tr>
                <td width="33%" id="free_form">
                    Участок
                </td>
                <td width="33%" id="free_form">
                    Ряд
                </td>
                <td width="33%" id="free_form">
                    Место
                </td>
            </tr>
            <tr>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.area }}
                    {% else %}
                        {{ burial.product.place.area }}
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.row }}
                    {% else %}
                        {{ burial.product.place.row }}
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.seat }}
                    {% else %}
                        {{ burial.product.place.seat }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/person/{{ burial.customer.person.uuid }}/" target="_blank" tabindex="10">Фамилия заказчика</a>
                    {% else %}
                        Фамилия заказчика
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/person/{{ burial.customer.person.uuid }}/" target="_blank" tabindex="11">Имя заказчика</a>
                    {% else %}
                        Имя заказчика
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/person/{{ burial.customer.person.uuid }}/" target="_blank" tabindex="12">Отчество заказчика</a>
                    {% else %}
                        Отчество заказчика
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="33%" id="free_form">{{ burial.customer.person.last_name }}</td>
                <td width="33%" id="free_form">{{ burial.customer.person.first_name }}</td>
                <td width="33%" id="free_form">{{ burial.customer.person.patronymic }}</td>
            </tr>
            <tr>
                <td id="free_form">
                    {{ form.street.label_tag }}
                </td>
                <td id="free_form">
                    {{ form.city.label_tag }}
                </td>
                <td id="free_form">
                    {{ form.region.label_tag }}
                </td>
                <td id="free_form">
                    {{ form.country.label_tag }}
                </td>
            </tr>
             <tr>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.street }}
                    {% else %}
                        {{ burial.customer.location.street.name }}
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.city }}
                    {% else %}
                        {{ burial.customer.location.street.city.name }}
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.region }}
                    {% else %}
                        {{ burial.customer.location.street.city.region.name }}
                    {% endif %}
                </td>
                <td width="33%" id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.country }}
                    {% else %}
                        {{ burial.customer.location.street.city.region.country.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td id="free_form">
                    {{ form.new_street.label_tag }}
                </td>
                <td id="free_form">
                    {{ form.new_city.label_tag }}
                </td>
                <td id="free_form">
                    {{ form.new_region.label_tag }}
                </td>
                <td>
                    {{ form.new_country.label_tag }}
                </td>
            </tr>
            <tr>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.new_street }}
                    {% endif %}
                </td>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.new_city }}
                    {% endif %}
                </td>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.new_region }}
                    {% endif %}
                </td>
                <td>
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        {{ form.new_country }}
                    {% endif %}
                </td>
            </tr>















            <tr>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/location/{{ burial.customer.location.uuid }}/" target="_blank" tabindex="18">Дом</a>
                    {% else %}
                        Дом
                    {% endif %}
                </td>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/location/{{ burial.customer.location.uuid }}/" target="_blank" tabindex="19">Корпус</a>
                    {% else %}
                        Корпус
                    {% endif %}
                </td>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/location/{{ burial.customer.location.uuid }}/" target="_blank">Строение</a>
                    {% else %}
                        Строение
                    {% endif %}
                </td>
                <td id="free_form">
                    {% if user|in_group:"edtit_bur_in_adm" %}
                        <a href="/admin/common/location/{{ burial.customer.location.uuid }}/" target="_blank" tabindex="20">Квартира</a>
                    {% else %}
                        Квартира
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td id="free_form">{{ burial.customer.location.house }}</td>
                <td id="free_form">{{ burial.customer.location.block }}</td>
                <td id="free_form">{{ burial.customer.location.building }}</td>
                <td id="free_form">{{ burial.customer.location.flat }}</td>
            </tr>
        </table>
    </div>
    <br />
    <div>
{#    <form action="" method="post" enctype="multipart/form-data">#}
    <h3>Телефоны заказчика:</h3>
    <table>
        {{ formset }}
    </table>
    <h3>Комментарии:</h3>
        {% for c in burial.ordercomments_set.all %}
            <b>{{ forloop.counter }}</b> {{ c.comment }} <a href="/admin/common/ordercomments/{{ c.uuid }}/" target="_blank">редактировать</a><br />
            <small><b>{{ c.creator }}</b>, {{ c.date_of_creation }}</small><br /><br />
        {%  endfor %}
        <br />
        <small>Добавить новый:</small>
        <br />
        {{ form.comment }}
    <h3>Файлы:</h3>
        {% for f in burial.orderfiles_set.all %}
            <b>{{ forloop.counter }}</b>
            <img src="{{ f.ofile.thumbnail.url }}">
            <a href="/admin/common/orderfiles/{{ f.uuid }}/" target="_blank">редактировать</a>
            <a href="/orderfile/delete/{{ burial.uuid }}/{{ f.uuid }}/">удалить</a>
            <br />
            Комментарий к картинке: <i>{{ f.comment }}</i>
            <br />
            <small><b>{{ f.creator }}</b>, {{ f.date_of_creation }}</small><br /><br />
        {%  endfor %}
        <small>Добавить новый (до 5 Mb):</small>
        <br />
        {{ form.file1 }}<br />
        {{ form.file1_comment }}
        <br>
        <br>
        <input type="submit" value="Сохранить"  tabindex="22">
        <button type="button" onclick="top.location.href='{{ request.path }}';" tabindex="23">Отмена</button>
    </form>
    </div>
    <br />
    <br />
    <br />
    <a href="/journal/">Назад</a>

{% endblock %}
