{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}
{% block scripts %}
    {{ form.media }}
    <link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/jquery-ui-timepicker.css?v=0.2.3" type="text/css" />
    <script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="/admin_media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media/js/jquery.ui.timepicker.js?v=0.2.3"></script>
    <script type="text/javascript" src="/media/js/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="/media/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.bgiframe.min.js"></script>
    <link rel="stylesheet" href="/media/css/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>    
<script type="text/javascript">
	var submit_form = function()
	{
		$("#mainform").submit();
	}
</script>
<script>
$(function(){
    //Фокус в нужное поле.
    $("#id_fio").focus();

    //автодополнение фамилии заказчика.
        $("#id_customer").autocomplete("/getpersonunln/", {
//            autoFill: true,
//            matchContains: true,
            minChars: 1,
//            cacheLength: 1,
            selectFirst: false,
            max: 16
        });

    //автодополнение фамилии захороненного.
    $("#id_fio").autocomplete("/getdeadman/", {
//        autoFill: true,
//        matchContains: true,
        minChars: 1,
//        extraParams: {
//            region: function(){
//                return $("#id_default_region").val();
//            }
//        },
//        cacheLength: 1,
        selectFirst: false,
//        selectOnly: true,
//        highlight: false,
        max: 16
    });

    $('input[name=print]').click(function() {
        $('#mainform').attr('target', '_blank');
        window.setTimeout("$('#mainform').attr('target', '');", 100);
    });

    var CALENDAR_ICON = '/admin_media/img/admin/icon_calendar.gif';
    var CLOCK_IMAGE = '/admin_media/img/admin/icon_clock.gif';

    $.datepicker.setDefaults($.datepicker.regional['']);
    var now = Date();
    $('input[name*=date],input[name*=expire],input[name*=when]').css('width', '100px').datepicker({
        dateFormat: 'dd.mm.yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:' + now.year,
        firstDay: 1,
        monthNamesShort: ['Янв','Фев','Март','Апрель','Май','Июнь','Июль','Авг','Сен','Окт','Ноя','Дек'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        showOn: "both",
        buttonImage: CALENDAR_ICON,
        buttonImageOnly: true
    });
    $('input[name*=time]').each(function() {
        var btn_id = $(this).attr('id') + '_button';
        var img = $('<img src="'+CLOCK_IMAGE+'"/>').attr('id', btn_id).insertAfter($(this));
        $(this).css('width', '100px').timepicker({
            showOn: "both",
            button: "#" + btn_id,
            hourText: 'Ч',
            minuteText: 'М',
            showPeriodLabels: false,
            minutes: {
                starts: 0,
                ends: 45,
                interval: 15
            },
            hours: {
                starts: 8,
                ends: 19,
                interval: 1
            }
        });
    });

    $(':input,textarea,select').each(function(i, el) {
        $(el).attr('tabIndex', i+1);
    })

})

</script>
{% endblock %}



{% block title %}Поиск{% endblock %}
{% block content %}
<form id="mainform" method="get" action="/">
{{ form.non_field_errors }}
<table width="100%" cols="4">
    <tr>
        <td width="25%" id="free_form">{{ form.fio.label_tag }}</td>
        <td width="25%" id="free_form">{{ form.account_book_n_from.label_tag }}</td>
        <td width="25%" id="free_form">{{ form.owner.label_tag }}</td>
    <!--
        <td width="25%" id="free_form">{{ form.first_name.label_tag }}</td>
        <td width="25%" id="free_form">{{ form.patronymic.label_tag }}</td>
    -->
        <td width="25%" id="free_form">{{ form.cemetery.label_tag }}</td>
    </tr>
    <tr>
        <td width="25%">{{ form.fio.errors }}{{ form.fio }}</td>
        <td width="25%">{{ form.account_book_n_from.errors }}{{ form.account_book_n_to.errors }}{{ form.account_book_n_from }}&nbsp;{{ form.account_book_n_to }}</td>
        <td width="25%">{{ form.owner.errors }}{{ form.owner }}</td>
    <!--
        <td width="25%">{{ form.first_name }}</td>
        <td width="25%">{{ form.patronymic }}</td>
    -->
        <td width="25%">
            {{ form.cemetery.errors }}{{ form.cemetery }} <br/>
            <label for="id_no_exhumated">{{ form.no_exhumated }} только не эксгумированные</label>
        </td>
    </tr>
    <tr>
        <td width="25%" id="free_form">{{ form.birth_date_from.label_tag }}</td>
        <td width="25%">{{ form.birth_date_from.errors }}{{ form.birth_date_from }}</td>
        <td width="25%" id="free_form">{{ form.birth_date_to.label_tag }}</td>
        <td width="25%">{{ form.birth_date_to.errors }}{{ form.birth_date_to }}</td>
    </tr>
    <tr>
        <td width="25%" id="free_form">{{ form.death_date_from.label_tag }}</td>
        <td width="25%">{{ form.death_date_from.errors }}{{ form.death_date_from }}</td>
        <td width="25%" id="free_form">{{ form.death_date_to.label_tag }}</td>
        <td width="25%">{{ form.death_date_to.errors }}{{ form.death_date_to }}</td>
    </tr>
    <tr>
        <td width="25%" id="free_form">{{ form.burial_date_from.label_tag }}</td>
        <td width="25%">{{ form.burial_date_from.errors }}{{ form.burial_date_from }}</td>
        <td width="25%" id="free_form">{{ form.burial_date_to.label_tag }}</td>
        <td width="25%">{{ form.burial_date_to.errors }}{{ form.burial_date_to }}</td>
    </tr>
    <!--
    <tr>
        <td width="25%" id="free_form">{{ form.death_certificate.label_tag }}</td>
        <td width="25%">{{ form.death_certificate.errors }}{{ form.death_certificate }}</td>
        <td width="25%" id="free_form">{{ form.account_book_n.label_tag }}</td>
        <td width="25%">{{ form.account_book_n.errors }}{{ form.account_book_n }}</td>
    </tr>
    -->
    <!--
    <tr>
        <td width="25%" id="free_form">{{ form.customer.label_tag }}</td>
        <td width="25%">{{ form.customer.errors }}{{ form.customer }}</td>
        <td width="25%" id="free_form">{{ form.owner.label_tag }}</td>
        <td width="25%">{{ form.owner.errors }}{{ form.owner }}</td>
    </tr>
    -->
    <tr>
        <td width="25%" id="free_form">{{ form.comment.label_tag }}</td>
        <td width="25%">{{ form.comment.errors }}{{ form.comment }}</td>
        <td width="25%" id="free_form">{{ form.customer.label_tag }}</td>
        <td width="25%">{{ form.customer.errors }}{{ form.customer }}</td>
    </tr>
</table>
<table width="100%" cols="6">
    <tr>
        <td width="16%">{{ form.operation.label_tag }}{{ form.operation.errors }}&nbsp;&nbsp;{{ form.operation }}</td>
        <td width="16%" id="free_form">{{ form.area.label_tag }}{{ form.area.errors }}&nbsp;&nbsp;{{ form.area }}</td>
        <td width="16%" id="free_form">{{ form.row.label_tag }}{{ form.row.errors }}&nbsp;&nbsp;{{ form.row }}</td>
        <td width="16%" id="free_form">{{ form.seat.label_tag }}{{ form.seat.errors }}&nbsp;&nbsp;{{ form.seat }}</td>
    </tr>
    <!--
    <tr>
        <td width="16%" id="free_form">{{ form.gps_x.label_tag }}</td>
        <td width="16%">{{ form.gps_x.errors }}{{ form.gps_x }}</td>
        <td width="16%" id="free_form">{{ form.gps_y.label_tag }}</td>
        <td width="16%">{{ form.gps_y.errors }}{{ form.gps_y }}</td>
        <td width="16%" id="free_form">{{ form.gps_z.label_tag }}</td>
        <td width="16%">{{ form.gps_z.errors }}{{ form.gps_z }}</td>
    </tr>
    <tr>
        <td width="16%">{{ form.operation.errors }}{{ form.operation }}</td>
        <td width="16%">{{ form.area.errors }}{{ form.area }}</td>
        <td width="16%">{{ form.row.errors }}{{ form.row }}</td>
        <td width="16%">{{ form.seat.errors }}{{ form.seat }}</td>
    </tr>
    -->
</table>
<input type="submit" value="Искать" />&nbsp;&nbsp;
<input type="submit" name="print" value="Распечатать все" />&nbsp;&nbsp;
<input type="button" value="Сброс" onClick="parent.location='/'" />&nbsp;&nbsp;
<table width="100%" border="1">
    <caption style="background:#2D992D;">
        <font color="#FFD700">&nbsp;{{ obj_nr }}</font> записей&nbsp;&nbsp;|&nbsp;&nbsp;по {{ form.per_page }} записей на странице&nbsp;&nbsp;|&nbsp;&nbsp;сортировка по {{ form.records_order_by }}&nbsp;&nbsp;|
        <input type="button" value="Печать" onClick="window.open($.query.set('print', 1).toString(),'_blank');" />
    </caption>
    <thead>
        <td>№ в кн</td>
        <td>ФИО</td>
        <td>Дата захор</td>
        <td>Уч</td>
        <td>Ряд</td>
        <td>Мог</td>
        <td>Кладб</td>
        <td>Услуга</td>
        <td>Заказчик</td>
        <td>Телефон</td>
        <td>Комментарий</td>
        <td>Опции</td>
    </thead>
	{% for b in object_list %}
    <tr>
        <td>{{ b.account_book_n }}</td>
        <td>
            <b> {{ b.person.last_name }}</b>
            {{ b.person.first_name }}
            {{ b.person.patronymic }}
        </td>
        <td>{{ b.date_fact|date:"d.m.Y" }}</td>
        <td>{{ b.product.place.area }}</td>
        <td>{{ b.product.place.row }}</td>
        <td>{{ b.product.place.seat }}</td>
        <td>{{ b.product.place.cemetery.name }}</td>
        <td>{{ b.operation.op_type }}</td>
        {% if b.responsible_agent %}
            <td>
                {{ b.responsible_agent.organization }}<br/>
                {{ b.responsible_agent.person }}
            </td>
        {% else %}
            <td>
                {{ b.customer.person.last_name }}
                {{ b.customer.person.first_name }}
                {{ b.customer.person.patronymic }}
            </td>
        {% endif %}
        <td>
            {% for phone in b.customer.phone_set.all  %}
            {{ phone.f_number }}
            <br>
            {%endfor%}
        </td>
        <td>
            {% for comment in b.ordercomments_set.all %}
            {{ comment.comment }}
            {% endfor %}
        </td>
        <td>
            {% if b.orderfiles_set.count %}
            <small><a title="файл прикреплен">f</a></small>
            {% endif %}
            {% if user|in_group:"edit_burial"  %}
                <a title="редактировать" target="_blank" href='/burial/{{ b.uuid }}/'><img src="/media/edit.png"></a>
            {% endif %}
            <a title="к могиле" href='/?cemetery={{ b.product.place.cemetery.uuid }}&area={{ b.product.place.area }}&row={{ b.product.place.row }}&seat={{ b.product.place.seat }}'><img width="16" src="/media/tree.png"></a>
        </td>
    </tr>
	{% endfor %}
</table>
<div>
    {% include "paginator_digg.html" %}
</div>
</form>
{% endblock %}
