<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Печать</title>
        <style>
            table, td { border: 1px #ccc solid; border-collapse: collapse; }
        </style>
    </head>
    <body>
        <table width="100%" style="">
            <thead>
                <td>№</td>
                <td>ФИО</td>
                <td>Даты</td>
                <td>Св-во</td>
                <td>Время</td>
                <td>Уч</td>
                <td>Ряд</td>
                <td>Мог</td>
                <td>Кладб</td>
                <td>Резерв (зан/св)</td>
                <td>Адрес</td>
                <td>Заказчик</td>
            </thead>
    	{% for b in object_list %}
	    <tr>
	        <td>{{ b.account_book_n }}</td>
	        <td>
                <b> {{ b.person.last_name }}</b>
	            {{ b.person.first_name }}
	            {{ b.person.patronymic }}
	        </td>
	        <td>
                {{ b.person.birth_date|date:"d.m.Y"|default:"н.д." }} &ndash; {{ b.person.death_date|date:"d.m.Y"|default:"н.д." }}<br/>
                {{ b.date_fact|date:"d.m.Y" }}
            </td>
            <td>
                {% if b.person.deathcertificate %}
                    {{ b.person.deathcertificate.series }}
                    {{ b.person.deathcertificate.s_number }}
                    {{ b.person.deathcertificate.release_date|date:"d.m.Y" }}
                    {{ b.person.deathcertificate.zags|default:"" }}
                {% endif %}
            </td>
            <td>{{ b.date_fact|date:"H:i" }}</td>
            <td>{{ b.product.place.area }}</td>
	        <td>{{ b.product.place.row }}</td>
	        <td>{{ b.product.place.seat }}</td>
	        <td>{{ b.product.place.cemetery.name }}</td>
	        <td>{{ b.product.place.rooms_occupied|default:1 }}/{{ b.product.place.rooms_free }}</td>
            <td>{{ b.person.location|default:"неизвестен" }}</td>
	        {% if b.responsible_agent %}
                <td>
                    {{ b.responsible_agent.organization }}<br/>
                    {{ b.responsible_agent.person }}
                </td>
	        {% else %}
                <td>
                    {% if b.customer.person.filled %}
                        {{ b.customer.person.last_name }}
                        {{ b.customer.person.first_name }}
                        {{ b.customer.person.patronymic }}
                    {% endif %}
                    {% if b.customer.person.location.country %}{{ b.customer.person.location }}{% endif %}
                 </td>
 	        {% endif %}
            </tr>
            {% endfor %}
        </table>
    </body>

    <script type="text/javascript">
        window.print();
    </script>
</html>
