{% extends "base.html" %}
{% load adminmedia %}
{%  load my_filters %}
{% block scripts %}
{{ form.media }}
<link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" />
<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.query-2.1.7.js"></script>
<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>

<script type="text/javascript" charset="utf-8">
$(function(){
  $("#id_burial_date").focus(function(){
     this.select();
     });
  
 $("#id_last_name").focus(function(){
     if ($(this).val()=="НЕИЗВЕСТЕН")
     {$(this).val("");}
     });

 $("#id_last_name").focusout(function(){
     if ($(this).val()=="")
     { $(this).val("НЕИЗВЕСТЕН");}
     });

 $("#id_customer_last_name").focus(function(){
     if ($(this).val()=="НЕИЗВЕСТЕН")
     {$(this).val("");}
     });

 $("#id_customer_last_name").focusout(function(){
     if ($(this).val()=="")
     {$(this).val("НЕИЗВЕСТЕН");}
     });

 $("#id_street").focus(function(){
     if ($(this).val()=="НЕИЗВЕСТЕН")
     {$(this).val("");}
     });

 $("#id_street").focusout(function(){
     if ($(this).val()=="")
     {$(this).val("НЕИЗВЕСТЕН");}
     });
});

//Первоначальное заполнение списка услуг.
$(function(){
//    alert($("#id_operation option:selected").val());
//    alert($("#id_operation option:selected").text());
    //Фокус в нужное поле.
    $("#id_account_book_n").focus();

    $("#id_hoperation").val($("#id_operation option:selected").val());
    $("#id_operation").html("");
    if ($("#id_cemetery").val()){
        ///////////////
        $.getJSON("/getoper/",{id: $("#id_cemetery").val(), ajax: 'true'}, function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        if (j[i].optionValue == $("#id_hoperation").val())
        {
            options += '<option selected value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
//            alert("yes");
        }
        else
        {
            options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
//            alert("no "+j[i].optionValue+" "+$("#id_hoperation").val());
        }
      }
      $("#id_operation").html(options);
//      $("#id_area").val("");
//      $("#id_row").val("");
//      $("#id_seat").val("");
    });
        ///////////////
    }
    });
$(function(){
// Обработчик изменения выбранной услуги.
  $("#id_operation").change(function(){
    $("#id_hoperation").val($("#id_operation").val());
//    alert("set "+$("#id_hoperation").val());
  });
  // Обработчик изменения выбранного кладбища.
  $("#id_cemetery").change(function(){
    $.getJSON("/getoper/",{id: $(this).val(), ajax: 'true'}, function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        if (j[i].optionValue == $("#id_hoperation").val())
        {
            options += '<option selected value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
//            alert("yes");
        }
        else
        {
            options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
//            alert("no "+j[i].optionValue+" "+$("#id_hoperation").val());
        }
      }
      $("#id_operation").html(options);
//      $("#id_area").val("");
//      $("#id_row").val("");
//      $("#id_seat").val("");
    });
  });

   //автодополнение страны.
   $("#id_country").autocomplete({
        source: "/getcountries/",
        minLength: 1,
        delay: 100,
    });

   //автодополнение региона.
   $("#id_region").autocomplete({
        source: "/getregions/",
        minLength: 2,
        delay: 100,
        select: function(event, ui) {
            $("#id_region").val(ui.item.value.split("/")[0]);
            $("#id_country").val(ui.item.value.split("/")[1]);
            return false;
       },
       focus: function(event, ui) {
            $("#id_region").val(ui.item.value.split("/")[0]);
//            $("#id_country").val(ui.item.value.split("/")[1]);
            return false;
       }
   });
   //автодополнение нас. пункта.
   $("#id_city").autocomplete({
        source: "/getcities/",
        minLength: 2,
        delay: 100,
        select: function(event, ui) {
            $("#id_city").val(ui.item.value.split("/")[0]);
            $("#id_region").val(ui.item.value.split("/")[1]);
            $("#id_country").val(ui.item.value.split("/")[2]);
            return false;
       },
       focus: function(event, ui) {
            $("#id_city").val(ui.item.value.split("/")[0]);
//            $("#id_region").val(ui.item.value.split("/")[1]);
//            $("#id_country").val(ui.item.value.split("/")[2]);
            return false;
       }

    });
   //автодополнение улицы.
   $("#id_street").autocomplete({
        source: "/getstreets/",
        minLength: 2,
        delay: 100,
        select: function(event, ui) {
            $("#id_street").val(ui.item.value.split("/")[0]);
            $("#id_city").val(ui.item.value.split("/")[1]);
            $("#id_region").val(ui.item.value.split("/")[2]);
            $("#id_country").val(ui.item.value.split("/")[3]);
            return false;
       },
       focus: function(event, ui) {
            $("#id_street").val(ui.item.value.split("/")[0]);
//            $("#id_city").val(ui.item.value.split("/")[1]);
//            $("#id_region").val(ui.item.value.split("/")[2]);
//            $("#id_country").val(ui.item.value.split("/")[3]);
            return false;
       }

    });
})
</script>
{% endblock %}
{% block title %}{% if global_context_SITE_READONLY %}Журнал{% else %}Ввод журнала{% endif %}{% endblock %}
{% block content %}
    <div id="free_form">
    {% if not global_context_SITE_READONLY %}
        <form enctype="multipart/form-data" action="" method="post">
            {{ form.non_field_errors }}
            <table width="800">
                <tr>
                    <td width="33%" id="free_form">{{ form.account_book_n.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.burial_date.label_tag }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33%">{{ form.account_book_n.errors }}{{ form.account_book_n }}</td>
                    <td width="33%">{{ form.burial_date.errors }}{{ form.burial_date }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.last_name.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.first_name.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.patronymic.label_tag }}</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.last_name.errors }}{{ form.last_name }}</td>
                    <td width="33%" id="free_form">{{ form.first_name.errors }}{{ form.first_name }}</td>
                    <td width="33%" id="free_form">{{ form.patronymic.errors }}{{ form.patronymic }}</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.cemetery.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.operation.label_tag }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.cemetery.errors }}{{ form.cemetery }}</td>
                    <td width="33%" id="free_form">{{ form.operation.errors }}{{ form.operation }}{{ form.hoperation.errors }}{{ form.hoperation }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.area.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.row.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.seat.label_tag }}</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.area.errors }}{{ form.area }}</td>
                    <td width="33%" id="free_form">{{ form.row.errors }}{{ form.row }}</td>
                    <td width="33%" id="free_form">{{ form.seat.errors }}{{ form.seat }}</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.customer_last_name.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.customer_first_name.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.customer_patronymic.label_tag }}</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.customer_last_name.errors }}{{ form.customer_last_name }}</td>
                    <td width="33%" id="free_form">{{ form.customer_first_name.errors }}{{ form.customer_first_name }}</td>
                    <td width="33%" id="free_form">{{ form.customer_patronymic.errors }}{{ form.customer_patronymic }}</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.post_index.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.post_index.errors }}{{ form.post_index }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
                <tr>
                    <td id="free_form">{{ form.street.label_tag }}</td>
                    <td id="free_form">{{ form.city.label_tag }}</td>
                    <td id="free_form">{{ form.region.label_tag }}</td>
                    <td id="free_form">{{ form.country.label_tag }}</td>
                </tr>
                <tr>
                    <td id="free_form">{{ form.street.errors }}{{ form.street }}</td>
                    <td id="free_form">{{ form.city.errors }}{{ form.city }}</td>
                    <td id="free_form">{{ form.region.errors }}{{ form.region }}</td>
                    <td id="free_form">{{ form.country.errors }}{{ form.country }}</td>
                </tr>
                <tr>
                    <td id="free_form">{{ form.new_street.label_tag }}</td>
                    <td id="free_form">{{ form.new_city.label_tag }}</td>
                    <td id="free_form">{{ form.new_region.label_tag }}</td>
                    <td>{{ form.new_country.label_tag }}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td id="free_form">{{ form.new_street }}</td>
                    <td id="free_form">{{ form.new_city }}</td>
                    <td id="free_form">{{ form.new_region }}</td>
                    <td>{{ form.new_country }}</td>
                </tr>
                <tr>
                    <td id="free_form">{{ form.customer_house.label_tag }}</td>
                    <td id="free_form">{{ form.customer_block.label_tag }}</td>
                    <td id="free_form">{{ form.customer_building.label_tag }}</td>
                    <td id="free_form">{{ form.customer_flat.label_tag }}</td>
                </tr>
                <tr>
                    <td id="free_form">{{ form.customer_house.errors }}{{ form.customer_house }}</td>
                    <td id="free_form">{{ form.customer_block.errors }}{{ form.customer_block }}</td>
                    <td id="free_form">{{ form.customer_building.errors }}{{ form.customer_building }}</td>
                    <td id="free_form">{{ form.customer_flat.errors }}{{ form.customer_flat }}</td>
                </tr>
            <table>
                <tr>
                    <!--                    <td width="33%" id="free_form">{{ phoneset }}</td>-->
                    {{ phoneset }}
                </tr>
                <tr>
                    <td colspan="3" id="free_form">{{ form.comment.label_tag }}</td>
                </tr>
                <tr>
                    <td colspan="3" id="free_form">{{ form.comment.errors }}{{ form.comment }}</td>
                </tr>

                <tr>
                    <td width="33%" id="free_form">{{ form.file1.label_tag }}</td>
                    <td width="33%" id="free_form">{{ form.file1_comment.label_tag }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="33%" id="free_form">{{ form.file1.errors }}{{ form.file1 }}</td>
                    <td width="33%" id="free_form">{{ form.file1_comment.errors }}{{ form.file1_comment }}</td>
                    <td width="33%">&nbsp;</td>
                </tr>
            </table>
            <table>
                <tfoot>
                    <tr>
                        <td width="33%">&nbsp;</td>
                        <td width="33%"><input type="submit" value="Сохранить" tabindex="24"></td>
                        <td width="33%"><input type="reset" value="Сброс" tabindex="25"></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    {% endif %}

    {% if object_list %}
        <table width="100%" border=1>
            <caption style="background:#2D992D">История ввода</caption>
            <thead>
                <td>№ в кн</td>
                <td>ФИО</td>
                <td>Дата захор</td>
                <td>Уч</td>
                <td>Ряд</td>
                <td>Мог</td>
                <td>Кладб</td>
                <td>Услуга</td>
                <td>Заказчик</td>
                <td>Телефон</td>
                <td>Комментарий</td>
                <td>Опции</td>
            </thead>
                    {% for b in object_list %}
            <tr>
                <td>{{ b.account_book_n }}</td>
                <td>
                    <b> {{ b.person.last_name }}</b>
                    {{ b.person.first_name }}
                    {{ b.person.patronymic }}
                </td>
                <td>{{ b.date_fact|date:"d.m.Y" }}</td>
                <td>{{ b.product.place.area }}</td>
                <td>{{ b.product.place.row }}</td>
                <td>{{ b.product.place.seat }}</td>
                <td>{{ b.product.place.cemetery.name }}</td>
                <td>{{ b.operation.op_type }}</td>
                {% if b.customer.person.last_name %}
                    <td>
                        {{ b.customer.person.last_name }}
                        {{ b.customer.person.first_name }}
                        {{ b.customer.person.patronymic }}
                    </td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                <td>
                    {% for phone in b.customer.phone_set.all  %}
                    {{ phone.f_number }}
                    <br>
                    {%endfor%}
                </td>
                <td>
                    {% for comment in b.ordercomments_set.all %}
                    {{ comment.comment }}
                    {% endfor %}
                </td>
                <td>
                    {% if user|in_group:"edit_burial" %}
                        <a title="редактировать" href='/burial/{{ b.uuid }}/'><img src="/media/edit.png"></a>
                    {% endif %}
                    <a title="к могиле" href='/?cemetery={{ b.product.place.cemetery.uuid }}&area={{ b.product.place.area }}&row={{ b.product.place.row }}&seat={{ b.product.place.seat }}'><img width="16" src="/media/tree.png"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
    {% endif %}

    </div>

{% endblock %}
