{% extends "base.html" %}
{%  load my_filters %}
{% block title %}Редактирование кладбища{% endblock %}
{% block content %}<h1>Редактирование кладбища</h1>
<div id="forms">
    <form action="" method="post">
        <a href="/admin/common/organization/" target="_blank">Управление организациями(админка)</a>
        <table>
            {{ form.as_table }}
            <tfoot>
                <tr>
                    <td align="right" colspan="2">
                        <input type="submit" value="Сохранить" />
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2">
                        <input type="reset" value="Очистить" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<a href="/management/cemetery/">Вернуться к списку кладбищ</a>
{% endblock %}
