{% extends "base.html" %}
{%  load my_filters %}
{% block title %}Управление{% endblock %}
{% block content %}
    <h1>Управление</h1>
    <h3>Перейдите по интересующей вас ссылке</h3>
    {% if user|in_group:"management_cemetery" %}
        <h2>Кладбища <a href='/management/cemetery/'>тут</a></h2>
    {% endif %}
    <h2>Сервисы (в админке) <a href='/admin/common/soulproducttypeoperation/' target="_blank">тут</a></h2>
    <h2>Роли (в админке) <a href='/admin/common/role/' target="_blank">тут</a></h2>
    {% if user|in_group:"management_user" %}
        <h2>Персонал <a href='/management/user/'>тут</a></h2>
    {% endif %}
    <h2>Группы (в админке) <a href='/admin/auth/group/' target="_blank">тут</a></h2>
    <h2>Импорт <a href='/management/import/'>тут</a></h2>
    <h2>Корзина <a href='/management/trash/'>тут</a></h2>
{% endblock %}
