{% extends "base.html" %}
{%  load my_filters %}
{% block title %}Управление кладбищами{% endblock %}
{% block content %}<h1>Управление кладбищами</h1>
<h3>Кладбища можно создавать и редактировать.</h3>
<div id="forms">
    <form action="" method="post">
        <!--        <a href="/admin/common/organization/" target="_blank">Управление организациями(админка)</a>-->
        <table>
            {{ form.as_table }}
            <tfoot>
                <tr>
                    <td align="right" colspan="2">
                        <input type="submit" value="Создать" />
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2">
                        <input type="reset" value="Очистить" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
{% if cemeteries %}
<br>
<table width="100%">
    <thead>
        <td width="40%">
            Наименование
        </td>
        <td width="30%">
            Адрес
        </td>
        <td width="30%" align="center">
            Опции
        </td>
    </thead>
    {% for cemetery in cemeteries %}
    <tr>
        <td width="40%">
            {{ cemetery.name }}
        </td>
        <td width="30%">
            {% if cemetery.location.street %}
                {{ cemetery.location }}
            {% endif %}
        </td>
        <td width="30%" align="center">

                        <button title="Редактировать" onclick="top.location.href='/management/cemetery/edit/{{ cemetery.uuid }}/';"><img src="/media/edit.png"></button>
                        &nbsp;
                        <!--|&nbsp;-->
                        <!--<button title="Удалить" onclick="if (confirm('Удалить кладбище?')){top.location.href='/management/cemetery/delete/{{ cemetery.uuid }}/';}"><img src="/media/delete.png"></button>-->
    </tr>
    {% endfor %}
</table>
{% endif %}

<link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" />
<link rel="stylesheet" href="/media/css/jquery-ui-timepicker.css?v=0.2.3" type="text/css" />
<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.query-2.1.7.js"></script>
<script type="text/javascript" src="/admin_media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.timepicker.js?v=0.2.3"></script>
<script type="text/javascript" src="/media/js/address.js"></script>
{% endblock %}
