{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}
{% load pytils_numeral %}

{% block title %}Место{% endblock %}

{% block content %}
    <dl>
        {% if place.cemetery %}
            <dt>Кладбище</dt>
            <dd>{{ place.cemetery }}</dd>
        {% endif %}
        {% if place.area %}
            <dt>Участок</dt>
            <dd>{{ place.area }}</dd>
        {% endif %}
        {% if place.row %}
            <dt>Ряд</dt>
            <dd>{{ place.row }}</dd>
        {% endif %}
        {% if place.seat %}
            <dt>Место</dt>
            <dd>{{ place.seat }}</dd>
        {% endif %}
        {% if place.responsible %}
            <dt>Ответственный</dt>
            <dd>{{ place.responsible }}</dd>
        {% endif %}
    </dl>

    <h3>Захоронения:</h3>
    <form action="" method="POST">
        {{ rf.as_p }}
        <p>Свободно: {{ place.rooms_free }} мест{{ place.rooms_free|choose_plural:"о,а," }}</p>
        {{ pbf.management_form }}
        <table>
            {% for d,f in pbf.pbf_data %}
                <tr>
                    <td>
                        {{ forloop.counter }}.
                        {% if d.burials %}
                            {% for b in d.burials %}
                                <a href="{% url view_burial b.pk %}">{{ b.person }}</a>
                                <a title="открепить" href="?unlink={{ b.pk }}"><i class="icon icon-remove"></i></a>
                            {% endfor %}
                        {% endif %}
                        {% if d.available %}
                            {{ f.burial.errors }}
                            {{ f.burial }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if pbf.free_burials %}
                <tr><td><h3>+ непривязанные</h3></td></tr>
                {% for b in pbf.free_burials %}
                    <tr>
                        <td>
                            {{ forloop.counter }}.
                            <a href="{% url view_burial b.pk %}">{{ b.person }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <h2 class="buttons">
            <button class="btn btn-primary btn-large">Сохранить</button>
        </h2>
    </form>
{% endblock %}